.page-title
  %h1.text-center Assignments

.row.justify-content-center
  .col-sm-6.table-responsive
    %table.table.table-striped

      %thead
        %tr
          %th #
          %th Due
          %th Title

      %tbody
        %tr
          %td 1
          %td Week 2
          %td Let's Get Started
        %tr
          %td 2
          %td Week 4
          %td Bikes and Asteroids
        %tr
          %td 3
          %td Week 6
          %td Vacation Photo Album
        %tr
          %td 4
          %td Week 8
          %td Flix Queue
        %tr
          %td 5
          %td Week 10
          %td TBA
        %tr
          %td 6
          %td Week 12
          %td Final Project
