%h1 Schedule

.row
  .col-sm-10.mx-auto
    %table.table.table-striped.table-bordered.schedule
      %thead.thead-dark
        %tr
          %th Week
          %th Topics
          %th Before Class
      %tbody
        %tr
          %td.align-middle
            %h3 1
          %td.align-middle
            %ol
              %li Course Introduction
              %li HTML-Browser-Rhythm
              %li
                %span.badge.badge-info CHALLENGE
                A page about a recent vacation, including at least one photo
                %span.badge.badge-primary NEIGHBOR
              %li HW1 Preview
          %td.align-middle
            First-Day Setup

        %tr
          %td.align-middle
            %h3 2
          %td.align-middle
            %ol
              %li
                Observe https://bikes.nulaw713.com/stations.json.
                Goal today is to write code to answer questions about the data
              %li Command Line: mkdir ~/code/week2
              %li
                %span.badge.badge-primary CHALLENGE
                Download https://bikes.nulaw713.com/stations.json into week2
                %span.badge.badge-primary NEIGHBOR

              %hr
              %li
                irb: expressions, variables, error messages,
                exit, .class, strings, string.index(), arrays, hashes, f = open(), f.read()

              %li Scripts: print(), variables, etc.
              %li
                %span.badge.badge-info CHALLENGE
                Display entire contents of file
                %span.badge.badge-primary NEIGHBOR

              %li
                %span.badge.badge-primary LAB (no code)
                %span.badge.badge-warning Headache
                With neighbor: strategy for string parsing to get available bikes at first station?
                %li (don't code)

              %li
                %span.badge.badge-success Tylenol
                require 'json', JSON.parse(data), print .class, .inspect
              %hr
              %li
                %span.badge.badge-info CHALLENGE
                How many bikes are available at the fifth station?
              %hr
              %li
                %span.badge.badge-secondary MAYBE
                for loop to display all station names

              %li
                %span.badge.badge-secondary MAYBE
                for loop to calculate total number of bikes in the system

          %td
            %li Complete Setup

            %li HW 1

            Suggested: HTML 1, 2, and 3
            Optional: Ruby 1

        %tr
          %td.align-middle
            %h3   3
          %td.align-middle
            %ol

            %li Magic Gif

            %li <code>rails new movies</code>

            %li Resources, index (hardcoded) & show (hardcoded)

            Maybe: Challenge: Movie API for index (top movie titles)

          %td.align-middle
            Ruby 1, 2, 3
            %br
            HTML 4, 5

        %tr
          %td.align-middle
            %h3   4
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA

        %tr
          %td.align-middle
            %h3   5
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA

        %tr
          %td.align-middle
            %h3   6
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA

        %tr
          %td.align-middle
            %h3   7
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA

        %tr
          %td.align-middle
            %h3   8
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA

        %tr
          %td.align-middle
            %h3   9
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA

        %tr
          %td.align-middle
            %h3 10
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA

        %tr
          %td.align-middle
            %h3 11
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA

        %tr
          %td.align-middle
            %h3 12
          %td.align-middle
            TBA
            %br
            TBA
          %td.align-middle
            TBA
