.row.full

  .col-md-3.no-print
    .toc-sidebar
      = render 'layouts/toc'

  = render 'main'

  :javascript
    $("h1").prepend("<span class='chapter-numbering'>#{@chapter_number}.#{@page_number}</span>")
