%h1
  Search Results for:
  %code #{params[:term]}

- if @chapters.any?
  %h3
    = pluralize(@chapters.count, 'hit')
    found:
- else
  %h3 No occurrences could be found.

.row
  .col-sm-12
    %ul
      - @chapters.each do |chapter|
        %li= link_to chapter.sub(/appendix\//,'').gsub(/\d+\-/,'').gsub(/\//, ' > ').titleize, chapter

:javascript
  $('input').focus()
