.main {
  padding-right: 5rem;
}
.main ol p, .assignment ul p {
  margin-bottom: 0.5em;
}

.toc-sidebar {
  font-family: 'Nunito Sans', sans-serif;
  border-right: solid 2px #CCC;
  ol { padding-left: 0; }
  ul {
    list-style: none;
    margin-top: 0.5rem;
    padding-left: 2rem;
  }
  li.toc-chapter {
    list-style-position:inside;
    margin-left: 0px;
    margin-top: 1em;
    margin-bottom: 2em;
    a {
      text-decoration: none;
      &:hover {
        font-weight: bold;
      }
    }
    font-weight: bolder;
    li.toc-page {
      font-weight: normal;
      padding-left: 0;
      border-bottom: solid 1px rgba(0, 128, 128, 0.3);
    }
  }
}

h1 {
  // background-color: #2C98F0;
  // color: white;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgba(0, 128, 128, 0.6);
}

blockquote p {
  padding: 1rem;
  margin: 1rem;
  width: 25%;
  float: right;
  text-align: center;
  background-color: #d8f6fc;
  border: solid 2px #999;
  // font-weight: bold;
  color: #666;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 4px;
  border-bottom: solid 1px rgba(0, 128, 128, 0.3);
  text-transform: uppercase;
  font-size: 22px;
}
