.row.justify-content-center.tip-list.align-items-center.d-flex

  .col-sm-4

    %h1.text-muted.text-center
      7 Tips for Highly Successful Software Developers

    %ol
      - @tips.each do |tip|
        %li= tip
