%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.mx-md-3.my-md-2

  = link_to @course.number, root_url, class: 'navbar-brand'

  %form.form-inline.my-2.my-lg-0.ml-auto
    %input.form-control.mr-sm-2{size: '80%', :placeholder => "Search", :type => "text"}/
