-# - content_for :chapters do
  -# %span.navbar-text.navbar-brand.current= cleanup(@topic).upcase
  -# %ul.navbar-nav
  -#   - chapters.each_with_index do |chapter, index|
  -#     - /(?<section_number>^\d+)\-(?<title>.+$)/ =~ chapter
  -#     %li.nav-item.chapter-link= link_to "#{index+1}. #{title.titleize}", chapter_path(chapter: chapter), class: 'nav-link'

%ol.list-unstyled
  = render 'chapter', chapter: @chapter
